 <nav role="navigation" class="cent">
<ul>
    <li><a href="home">Website Homepage</a></li>
    <li><a href="forum">Forum Homepage</a></li>
	<li><a href="ccat">Create category</a></li>
	<li><a href="dcat">Delete category</a></li>
    <li style="float:right"><a href="logout">Logout</a></li>
    <li style="float:right"><a href="">User Tools</a>
        <ul>
            <li><a href="userupdate">Edit personal details</a></li>
            <li><a href="editrole">Edit User Role</a></li>
            <li><a href="deleteusers">Delete Users</a></li>
        </ul>
    </li>
</ul>
</nav>