<nav role="navigation" class="cent">
<ul>
    <li><a href="home">Website Homepage</a></li>
    <li><a href="forum">Forum Homepage</a></li>
    <li><a href="fpost">Create a post</a></li>
    <li style="float:right"><a href="editdetails">Edit personal details</a></li>
    <li style="float:right"><a href="logout">Logout</a></li>
</ul>
</nav>