{% extends 'banner.html.twig' %}
{% block content %}
    <div class="cent">
        <h2>{{ page_heading_2 }}</h2>
        <div id="page-content-div">
            <div class="table">
                <div class="table-row">
                    <div class="reverse-l-table-head"><p class="heading">Words</p></div>
                    <div class="reverse-r-table-head"><p class="heading">Definition</p></div>
                </div>

                {% if definitions %}
                    {% for definition in definitions %}
                        <div class="table-row">
                            <div class="reverse-l-table-cell">{{ definition.word}}</div>
                            <div class="reverse-r-table-cell">{{ definition.worddefinition }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% if userrole == 1 %}
                <a href="cdef">Add to Glossary</a>
                <a href="edef">Edit Glossary Entry</a>
                <a href="ddef">Delete Glossary Entry</a>
            {% endif %}
        </div>
    </div>
{% endblock %}