{% extends 'banner.html.twig' %}
{% block content %}
    <div class="cent">
        <h2>{{ system.0 }}</h2>
        <div id="page-content-div">
            <div style="white-space: pre-line">{{ system.3 }}</div>
            {% if userrole == '1' %}
                <a href="editsystem?id={{ id }}">Edit System</a>
            {% endif %}
        </div>
    </div>
{% endblock %}