{% extends 'banner.html.twig' %}
{% block content %}
    <div class="cent">
    <h2>{{ page_heading_2 }}</h2>
    <div id="page-content-div">
        <div class="table">
            <div class="table-row">
                <div class="reverse-l-table-head">System Type</div>
                <div class="reverse-r-table-head">Description</div>
            </div>

            {% if system_types %}
                {% for type in system_types %}
                    <div class="table-row">
                        <div class="reverse-l-table-cell"><a href="viewsystems.php?id">. {{ type.systemtypeid }}</a>{{ type.systemtypename }}</div>
                        <div class="reverse-r-table-cell">{{ type.systemtypedesc }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
    </div>
{% endblock %}