{% extends 'banner.html.twig' %}
{% block content %}
    <div class="cent">
      <h2>{{ page_heading_2 }}</h2>
      <div id="page-content-div">

        <p> A voting system is a way in which people can vote in the government and the person who represents the area
            (a candidate) of which the voter lives in. It also defines the way in which candidates may behave during the
            election. The type of voting system can also determine if we can call these candidates out on their
            behaviour should they decide to let the people down. </p>

        <p>Countries all around the world use different voting systems to elect their candidates in and some countries
        use multiple voting systems for different things. An example is that the UK uses the First-Past-The-Post system
        for general elections (the elections which determine who is the Prime Minister of the UK) but they use Supplementary
        vote for their mayors.</p>

        <p>Voting systems are designed to tackle different concerns and so they will have different effects on the voting
        population (people who can vote) dependent on what system is used and this can lead to different political
        consequences from occuring under certain situations.</p>

        <p>For more information about different voting systems, go to the voting system types section to find out more</p>
      </div>
    </div>
{% endblock %}