{% extends 'banner.html.twig' %}
{% block content %}
    <div class="cent">
      <h2>{{ page_heading_2 }}</h2>
      <div id="page-content-div" class="cent">

        <h3>{{ page_heading_3 }}</h3>
         <p> The creator of this voting systems resource was a university student creating this website for a final year
         project on his course.</p>

        <h3>{{ page_heading_4 }}</h3>
         <p> We aim to create a resource for many people to learn about how different voting systems work and the good
         and bad points of each one. We want to be a safe space where people are also able to discuss different
         voting systems and share knowledge. As a team, we want to be able to continue to learn about different voting
         systems so we will ensure that our information is as accurate as possible and will correct any errors we have
         made.</p>

        <h3>{{ page_heading_5 }}</h3>
          <p> We started our goal back in 2019 by gathering together information we already knew as well as learning
          voting systems we were unsure of. As many people have come here to learn about voting systems, we had to also
          learn some bits of information ourselves through other sources. Some of these are linked within our further
          reading section, accessible in the navigation bar at the top of the page.This resource first started being
          able to inform people about voting systems in 2020.</p>
      </div>
    </div>
{% endblock %}