{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <form action="{{ action }}" method ="{{ method }}">
            <fieldset>
                <p>{{ page_text }}</p>
                <label for="word">Word:</label> <input id="word" type="text" name="word" size="10" required>
                <br>
                <label for="def">Definition:</label> <input id="def" type="text" name="def" size="10" required>
                <hr>
                <input type="submit" value="add definition">
            </fieldset>
        </form>
    </div>
{% endblock %}