<nav role="navigation" class="cent">
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="">Voting Systems</a>
            <ul>
                <li><a href="explanation">What is it?</a></li>
                <li><a href="systemtype">Types</a></li>
                <li><a href="quizzes">Quizzes</a></li>
                <li><a href="vwords">Glossary</a></li>
            </ul>
        </li>
        <li><a href="forum">Forums</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="furtherreading">Further Reading</a></li>
        <li><a href="">Admin Tools</a>
            <ul>
                <li><a href="ctype">Create New System Type</a></li>
                <li><a href="csystem">Create New Voting System</a></li>
                <li><a href="deletetypes">Delete Type</a></li>
                <li><a href="deletesystems">Delete System</a></li>
                <li><a href="cquiz">Add Quiz</a></li>
                <li><a href="equiz">Edit Quiz</a></li>
                <li><a href="dquiz">Delete Quiz</a></li>
                <li><a href="cquestion">Add Question</a></li>
                <li><a href="edquestion">Edit Question</a></li>
                <li><a href="delquestion">Delete Question</a></li>
            </ul>
        </li>
        <li style="float:right"><a href="logout">Logout</a></li>
        <li style="float:right"><a href="">User Tools</a>
            <ul>
                <li><a href="userupdate">Edit personal details</a></li>
                <li><a href="editrole">Edit User Role</a></li>
                <li><a href="deleteusers">Delete Users</a></li>
            </ul>
        </li>
    </ul>
</nav>