{% extends 'banner.html.twig' %}
{% block content %}
    <div class="cent">
      <h2>{{ page_heading_2 }}</h2>

      <div id="page-content-div">
        <p> Without our own knowledge and from research into some voting systems, we wouldn't have been able to create
        this information source for you all. Here's a set of different websites which go into voting systems in more
        detail than we have and there's also some statistics about voting for those interested.</p>

        <h3>{{ page_heading_3 }}</h3>
        <p><a href="https://www.electoral-reform.org.uk/voting-systems/">Electoral Reform Society:</a> The Electoral
        Reform society are an independent organisation that do campaigns about voters rights and building a better
        democracy within the UK. They have plenty of information about different voting systems and have their own
        definition of what a voting system is. They're easy to navigate around and an informative site so you should
        check them out.</p>

        <p><a href="https://www.tutor2u.net/politics/reference/electoral-system">Tutor2u:</a> Tutor2u is an organisation
        that gives GCSE and Alevel students from a variety of fields some revision materials for exams. They also have
        some good pages about voting systems and other political information on there although it should be a start to
        getting information, not an end.</p>

        <p><a href="https://www.britannica.com/topic/single-transferable-vote">Encyclopedia Britannica:</a> Encyclopedia
        Britannica is an encyclopedia website that has many academic biographies and articles that provide information
        on a wide variety of subject matter. They have a good description on what the Single Transferable Vote is as
        well as some history about it for those interested.</p>

        <p><a href="https://courses.lumenlearning.com/waymakermath4libarts/chapter/borda-count/">Lumen:</a> Lumen is a
        company which provides learning to students through different modules. They have a mathematical approach to
        liberal arts. For those wanting to learn more about the Borda Count's workings and some evaluation for it, this
        is a good place to start.</p>

        <p><a href="https://www.makevotesmatter.org.uk/proportional-representation">Make Votes Matter:</a> Make Votes
         Matter is a movement that is campaigning to bring a proportional representation system as the UKs main voting
         system rather than the First-Past-The-Post system. This is a good website to go to if you wish to learn about
         different proportional representation systems and some flaws to the First-Past-The-Post system. It can also
         be useful to show how some systems can get it wrong.</p>

        <p><a href="https://www.parliament.uk/about/how/elections-and-voting/voting-systems/">Parliament UK:</a>
        Parliament UK is the website of the UK's parliament that contains lots of information regarding UK politics and
        law. It is a good resource for checking how different voting systems are used at different levels and what the
        UK government define a voting system as.</p>

        <h3>{{ page_heading_4 }}</h3>
        <p>Although some websites in the previous section (such as the Electoral Reform Society) do have their own
         statistics regarding voting, here's a set of website we find interesting regarding statistics about Voting:</p>
        <p><a href="https://www.bbc.co.uk/news/uk-england-47666080">BBC:</a> The BBC here have produced a news article
        back in 2019 about why many people choose not to vote in their local elections. It gives some statistics about
        how many people vote in local elections and the difference if the general election is held on the same day as the
        local elections.</p>

        <p><a href="https://ysa.org/4-reasons-young-people-dont-vote-and-what-to-do-about-it/">Youth Service America:</a>
        Youth Service America has gathered plenty of information regarding why many young people don't vote. They give
        their top 4 reasons as why the youth don't vote and have presented some information in graphs and charts, making
        it easier to read. Plus you can go even further in reading as they have helpfully given you where they got their
        information from at the bottom of the article.</p>
      </div>
    </div>
{% endblock %}